
@{
    ViewBag.Title = "Index";
}

<h2>فال حافظ</h2>

<div class="col-lg-8">
    <a class="btn btn-faal btn-small col-lg-5 col-lg-offset-3" href="#" onclick="Omen()">برایم فال بگیر </a>
    <br />
    <br />

    <img class="col-lg-5 col-lg-offset-3" id="fal1" src="Images/gol.png" style="display:none" />
    <img class="col-lg-5 col-lg-offset-3" id="fal2" src="Images/dela.jpg" style="display:none" />
    <img class="col-lg-5 col-lg-offset-3" id="fal3" src="Images/chandanke.jpg" style="display:none" />
</div>
