
@{
    ViewBag.Title = "OnlineShop";
}


<div class="tabbable col-lg-10 col-xs-12" style="padding-right:25px">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab"> بخش کتاب ها</a></li>
        <li class=""><a href="#tab2" data-toggle="tab">بخش CD ها</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">

            <div class="carousel slide" id="myCarousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                    <li data-slide-to="1" data-target="#myCarousel" class=""></li>
                    <li data-slide-to="2" data-target="#myCarousel" class=""></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active" id="slide1" style="text-align:center">
                        <img style="height:400px" src="~/Images/securedownload%20(3).png" />
                        <div class="carousel-caption">
                        </div><!-- end carousel-caption-->
                    </div><!-- end item -->

                    <div class="item" id="slide2" style="text-align:center">
                        <img style="height:400px" src="~/Images/__20120513_1748875240.gif" />

                        <div class="carousel-caption">
                        </div><!-- end carousel-caption-->
                    </div><!-- end item -->

                    <div class="item" id="slide3" style="text-align:center">
                        <img style="height:400px" src="~/Images/shazdeh.jpg" />
                        <img style="height:400px" src="~/Images/874--500x500.jpg" />
                        <div class="carousel-caption">
                        </div><!-- end carousel-caption-->
                    </div><!-- end item -->
                </div><!-- carousel-inner -->
                <!-- Controls -->
                <a class="left carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
                <a class="right carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>

            </div>

            <div class="row" id="books">
                <div class="col-12">
                    <h2 style="margin-bottom:30px">محبوب ترین کتاب ها : </h2>
                    <div class="thumbnails row">
                        <div class="col-lg-3 col-sm-4 col-xs-12">
                            <div class="thumbnail">
                                <!--<img alt="PSD to HTML5 &amp; CSS3" src="~/Images/item_psd2html5.jpg">

                                <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> 39<sup>$</sup></div>-->

                                <img src="~/Images/100%20sal%20tanhai.jpg" class="col-sm-7" />
                                <div class="caption">
                                    <h2>صد سال تنهایی</h2>
                                    <h3> قیمت : 30000 تومان </h3>
                                    <p>نویسنده: گابریل گارسیا مارکز</p>
                                    <p style="margin-top:20px">
                                        <a class="btn btn-small btn-link" href="#myModal100" data-toggle="modal" role="button">اطلاعات بیشتر</a>
                                        <a class="btn btn-primary btn-small" onclick="AddToCart()" href="#"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                    </p>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div><!-- end col-6 -->

                        <div class="col-lg-3 col-sm-4 col-xs-12">
                            <div class="thumbnail">
                                <!--<img alt="PSD to HTML5 &amp; CSS3" src="~/Images/item_psd2html5.jpg">

                                <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> 39<sup>$</sup></div>-->
                                <img src="~/Images/shazdeh.jpg" class="col-sm-7" />
                                <div class="caption">
                                    <h2>شازده کوچولو</h2>
                                    <h3> قیمت : 12000 تومان </h3>
                                    <p>نویسنده: آنتوان دو سنت اگزوپری</p>
                                    <p style="margin-top:37px">
                                        <a class="btn btn-small btn-link" href="#myModalShazde" data-toggle="modal" role="button">اطلاعات بیشتر</a>
                                        <a class="btn btn-primary btn-small" onclick="AddToCart()" href="#"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                    </p>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div>

                        <div class="col-lg-3 col-sm-4 col-xs-12">
                            <div class="thumbnail">
                                <!--<img alt="PSD to HTML5 &amp; CSS3" src="~/Images/item_psd2html5.jpg">

                                <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> 39<sup>$</sup></div>-->
                                <img src="~/Images/bishoori.jpg" class="col-sm-7" />
                                <div class="caption" style="margin-top:20px">
                                    <h2 style="font-size:x-large">بیشعوری</h2>
                                    <h3> قیمت : 12000 تومان </h3>
                                    <p>نویسنده: خاویر کرمنت</p>
                                    <p style="margin-top:78px">
                                        <a class="btn btn-small btn-link" href="#myModal" data-toggle="modal" role="button">اطلاعات بیشتر</a>
                                        <a class="btn btn-primary btn-small" onclick="AddToCart()" href="#"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                    </p>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12">
                            <div class="thumbnail">
                                <!--<img alt="PSD to HTML5 &amp; CSS3" src="~/Images/item_psd2html5.jpg">

                                <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> 39<sup>$</sup></div>-->
                                <img src="~/Images/donyaye%20soofi.jpg" class="col-sm-7" />
                                <div class="caption" style="margin-top:20px">
                                    <h2>دنیای سوفی</h2>
                                    <h3> قیمت : 21000 تومان </h3>
                                    <p>نویسنده: یوستین گردر</p>
                                    <p style="margin-top:35px">
                                        <a class="btn btn-small btn-link" href="#myModal" data-toggle="modal" role="button">اطلاعات بیشتر</a>
                                        <a class="btn btn-primary btn-small" onclick="AddToCart()" href="#"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                    </p>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div>
                    </div><!-- end row -->
                </div><!-- end col-12 -->


                <div class="modal fade in" id="myModalShazde" aria-hidden="false" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">×</button>

                                <h4 class="modal-title">شازده کوچولو</h4>
                            </div><!-- end modal-header -->
                            <div class="modal-body">
                                <h4>شازده کوچولو یا شهریار کوچولو (به فرانسوی: Le Petit Prince)</h4>
                                <p>
                                    داستانی اثر آنتوان دو سنت اگزوپری است که اولین بار در سال ۱۹۴۳ منتشر شد.

                                    این کتاب به بیش از ۲۵۰ زبان و گویش ترجمه شده و با فروش بیش از ۲۰۰ میلیون نسخه، یکی از پرفروش ترین کتاب‌های تاریخ محسوب می‌شود. کتاب شازده کوچولو «خوانده شده‌ترین» و «ترجمه شده‌ترین» کتاب فرانسوی‌زبان جهان است و به عنوان بهترین کتاب قرن ۲۰ در فرانسه انتخاب شده است. از این کتاب به طور متوسط سالی ۱ میلیون نسخه در جهان به فروش می‌رسد. این کتاب در سال ۲۰۰۷ نیز به عنوان کتاب سال فرانسه برگزیده شد.

                                    در این داستان سنت اگزوپری به شیوه‌ای سوررئالیستی به بیان فلسفه خود از دوست داشتن و عشق و هستی می‌پردازد. طی این داستان سنت اگزوپری از دیدگاه یک کودک، که از سیارکی به نام ب۶۱۲ آمده، پرسشگر سؤالات بسیاری از آدم‌ها و کارهایشان است.

                                    به مناسبت هفتادمین سالگرد تولد این رمان شیرین، در ماه مارس ۲۰۱۳ نسخه‌های جدیدی از آن منتشر شد: یک نسخه با جلد مقوایی برای نوجوانان، دیگری به همراه سی دی کتاب گویای شازده کوچولو با صدای ویگو مورتنسن، هنرپیشه فیلم «ارباب حلقه‌ها» و نسخه‌ای مصور به همراه نقاشی‌های ژوان سفار.
                                </p>

                                <h4>خلاصه داستان</h4>
                                <p>سال ۱۹۳۵، هواپیمای سنت اگزوپری، که برای شکستن رکورد پرواز بین پاریس و سایگون تلاش می‌کرد، در صحرای بزرگ آفریقا دچار نقص فنی شد و به ناچار در همان جا فرودآمد. همین سانحه دستمایه الهام شازده کوچولو شد که در آن شخصیت قهرمان داستان، خلبانی بی‌نام، پس از فرود در بیابان با پسر کوچکی آشنا می‌شود. پسرک به خلبان می‌گوید که از اخترکی دوردست می‌آید و آنقدر آنجا زندگی کرده که روزی تصمیم می‌گیرد برای اکتشاف اخترک‌های دیگر خانه را ترک کند. او هم‌چنین برای خلبان از گل سرخ محبوبش می‌گوید که دل در گرو عشق او دارد، از دیگر اخترک‌ها تعریف می‌کند و از روباهی که او را این جا، روی زمین، ملاقات کرده است. خلبان و شازده چاهی را می‌یابند که آنها را از تشنگی نجات می‌دهد اما در نهایت شازده کوچولو خلبان را در جریان تصمیم خود قرار می‌دهد و می‌گوید تصمیم گرفته به اخترک خانه‌اش بازگردد.</p>
                                <hr>
                            </div><!-- end modal-body -->

                            <div class="modal-footer">
                                <a class="btn btn-primary btn-small" href="#" onclick="AddToCart()" data-dismiss="modal"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                <button class="btn btn-default" data-dismiss="modal" type="button">بستن</button>
                            </div><!-- end modal-footer -->
                        </div><!-- end modal-content -->
                    </div><!-- end modal-dialog -->
                </div>
                <div class="modal fade in" id="myModal100" aria-hidden="false" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">×</button>

                                <h4 class="modal-title">صد سال تنهایی</h4>
                            </div><!-- end modal-header -->
                            <div class="modal-body">
                                <table>
                                    <tr>
                                        <td><h4>کد کالا:</h4></td>
                                        <td><p> ۲۵۶۰۲</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>دسته‌بندی:</h4></td>
                                        <td><p> داستان جهان</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>عنوان:</h4></td>
                                        <td><p>صد سال تنهایی</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>موضوع:</h4></td>
                                        <td><p> داستان های کلمبیایی قرن 20</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>نویسنده : </h4></td>
                                        <td><p> کیومرث پارسای</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>مترجم :</h4></td>
                                        <td><p>  گابریل گارسیا مارکز</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>ناشر: </h4></td>
                                        <td><p> آریابان</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>سال انتشار: </h4></td>
                                        <td><p>۱۳۹۱</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>قیمت:  </h4></td>
                                        <td><p>۳۰۰,۰۰۰ ریال</p></td>
                                    </tr>
                                </table>

                            </div><!-- end modal-body -->

                            <div class="modal-footer">
                                <a class="btn btn-primary btn-small" href="#" onclick="AddToCart()" data-dismiss="modal"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                <button class="btn btn-default" data-dismiss="modal" type="button">بستن</button>
                            </div><!-- end modal-footer -->
                        </div><!-- end modal-content -->
                    </div><!-- end modal-dialog -->
                </div>
            </div>



            <!--<h4><span class="glyphicon glyphicon-map-marker"></span> موقعیت مکانی ما: <small>دانشگاه شهید بهشتی</small></h4>

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3236.0450233081992!2d51.394966!3d35.798828!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e062a0cd26de5%3A0x6089f647c7807677!2z2K_Yp9mG2LTar9in2Ycg2LTZh9uM2K8g2KjZh9i02KrbjA!5e0!3m2!1sen!2sir!4v1416251624573" width="100%" height="200" frameborder="0" style="border:0"></iframe>
                <br>
                <br>
                <p style="margin-top:7px; line-height:2.1">دانشگاه شهید بهشتی یکی از دانشگاه&zwnj;های دولتی ایران است که در منطقهٔ اوین، غرب ولنجک و شرق درکه در شمال غربی تهران واقع شده&zwnj;است. این دانشگاه از جمله بزرگ&zwnj;ترین و معتبرترین دانشگاه&zwnj;های ایران محسوب می&zwnj;شود.این دانشگاه در مقاطع کاردانی، کارشناسی، کارشناسی ارشد و دکترا در دوره&zwnj;های مجازی، روزانه و شبانه دانشجو می&zwnj;پذیرد و تاکنون بیش از ۴۳٬۳۳۴ دانشجو از این دانشگاه فارغ&zwnj;التحصیل شده&zwnj;اند.</p>

                <p style="margin-top:-17px; line-height:2.1">این دانشگاه در سال ۱۳۳۸ با نام دانشگاه ملی ایران به&zwnj;دستور محمدرضا شاه پهلوی و توسط علی شیخ&zwnj;الاسلام تأسیس شد و تا پیش از سال ۱۳۶۲ با این نام خوانده می&zwnj;شد. علی&zwnj;رغم افتتاح رسمی در اسفندماه ۱۳۳۹، پذیرش دانشجو در مهرماه ۱۳۳۹ و توسط دانشکده&zwnj;های معماری و شهرسازی و علوم بانکداری که اولین دانشکده&zwnj;های دانشگاه بودند انجام شد. </p>
                <a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal"><span class="glyphicon glyphicon-hand-up"></span>  </a>-->
        </div><!-- end tab-pane -->

        <div class="tab-pane" id="tab2">

            <div class="carousel slide" id="myCarousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
                    <li data-slide-to="1" data-target="#myCarousel" class=""></li>
                    <li data-slide-to="2" data-target="#myCarousel" class=""></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active" id="slide1" style="text-align:center">
                        <img style="height:400px" src="~/Images/chartar.jpg" />
                        <img style="height:400px" src="~/Images/shahname.jpg" />
                        <div class="carousel-caption">
                        </div><!-- end carousel-caption-->
                    </div><!-- end item -->

                    <div class="item" id="slide2" style="text-align:center">
                        <img style="height:400px" src="~/Images/taar.jpg" />
                        <img style="height:400px" src="~/Images/na%20fereshte%20o%20na%20sheytan.jpg" />
                        <div class="carousel-caption">
                        </div><!-- end carousel-caption-->
                    </div><!-- end item -->

                    <div class="item" id="slide3">
                        <div class="carousel-caption">
                            <img style="height:400px" src="~/Images/874--500x500.jpg" />
                            <h4>اطلاعات اولیه میزبانی وب</h4>
                            <p>یاد بگیرید چگونه به خرید یک نام دامنه مناسب و بسته های میزبانی وب و وب سایت خود را زندگی می کنند در وب را با سهولت.</p>
                        </div><!-- end carousel-caption-->
                    </div><!-- end item -->
                </div><!-- carousel-inner -->
                <!-- Controls -->
                <a class="left carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
                <a class="right carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>

            </div>

            <div class="row" id="CDs">
                <div class="col-12">
                    <h3> جدیدترین و محبوب ترین cd ها: </h3>
                    <div class="thumbnails row">
                        <div class="col-lg-3 col-sm-4 col-xs-12 cd-box">
                            <div class="thumbnail">
                                <!--<img alt="PSD to HTML5 &amp; CSS3" src="~/Images/item_psd2html5.jpg">

                                <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> 39<sup>$</sup></div>-->
                                <img src="~/Images/na%20fereshte%20o%20na%20sheytan.jpg" class="col-sm-12" />
                                <div class="caption">
                                    <h2>نه فرشته ام نه شیطان</h2>
                                    <h3> قیمت : 12000 تومان </h3>
                                    <p>اثر: همایون شجریان و تهمورس پورناظری</p>

                                    <p class="buttons">
                                        <a class="btn btn-small btn-link" href="#myModalCD1" data-toggle="modal" role="button">اطلاعات بیشتر</a>
                                        <a class="btn btn-primary btn-small" onclick="AddToCart()" href="#"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                    </p>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div><!-- end col-6 -->
                        <div class="col-lg-3 col-sm-4 col-xs-12 cd-box">
                            <div class="thumbnail">
                                <!--<img alt="PSD to HTML5 &amp; CSS3" src="~/Images/item_psd2html5.jpg">

                                <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> 39<sup>$</sup></div>-->

                                <img src="~/Images/shahname.jpg" class="col-sm-12" />
                                <div class="caption">
                                    <h2>شاهنامه خوانی </h2>
                                    <h3> قیمت : 12000 تومان </h3>
                                    <p>اثر: جمعی از نوازندگان</p>

                                    <p class="buttons">
                                        <a class="btn btn-small btn-link" href="#myModalCD2" data-toggle="modal" role="button">اطلاعات بیشتر</a>
                                        <a class="btn btn-primary btn-small" onclick="AddToCart()" href="#"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                    </p>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 cd-box">
                            <div class="thumbnail">
                                <!--<img alt="PSD to HTML5 &amp; CSS3" src="~/Images/item_psd2html5.jpg">

                                <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> 39<sup>$</sup></div>-->

                                <img src="~/Images/taar.jpg" class="col-sm-12" />
                                <div class="caption" style="padding:10px">
                                    <h2 style="margin-top:215px">تار درویش خان</h2>
                                    <h3> قیمت : 24000 تومان </h3>
                                    <p>اثر: درویش خان</p>

                                    <p style="margin-top:23px">
                                        <a class="btn btn-small btn-link" href="#myModalCD3" data-toggle="modal" role="button">اطلاعات بیشتر</a>
                                        <a class="btn btn-primary btn-small" onclick="AddToCart()" href="#"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                    </p>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 cd-box">
                            <div class="thumbnail">
                                <!--<img alt="PSD to HTML5 &amp; CSS3" src="~/Images/item_psd2html5.jpg">

                                <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> 39<sup>$</sup></div>-->

                                <img src="~/Images/chartar.jpg" class="col-sm-12" />
                                <div class="caption" style="padding-top:40px">
                                    <h2 style="margin-top:177px">باران تویی</h2>
                                    <h3> قیمت : 10000 تومان </h3>
                                    <p>اثر: چارتار</p>

                                    <p style="margin-top:33px">
                                        <a class="btn btn-small btn-link" href="#myModalCD1" data-toggle="modal" role="button">اطلاعات بیشتر</a>
                                        <a class="btn btn-primary btn-small" onclick="AddToCart()" href="#"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                    </p>
                                </div><!-- end caption -->
                            </div><!-- end thumbnail -->
                        </div>
                    </div><!-- end row -->
                </div><!-- end col-12 -->


                <div class="modal fade in" id="myModalCD1" aria-hidden="false" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">×</button>

                                <h4 class="modal-title">نه فرشته ام نه شیطان</h4>
                            </div><!-- end modal-header -->
                            <div class="modal-body">
                                <table>
                                    <tr>
                                        <td><h4>کد کالا:</h4></td>
                                        <td><p> ۷۶۵۰۸</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>دسته‌بندی:</h4></td>
                                        <td><p> موسیقی و فیلم (CD-DVD)</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>عنوان:</h4></td>
                                        <td><p>نه فرشته ام نه شیطان</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>موضوع:</h4></td>
                                        <td><p>سنتی آوازی</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>پدیدآورنده  : </h4></td>
                                        <td><p> همایون شجریان - تهمورس پورناظری</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>پدیدآورنده  :</h4></td>
                                        <td><p>  صدرالدین حسین خانی</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>ناشر: </h4></td>
                                        <td><p>ایران گام</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>سال انتشار: </h4></td>
                                        <td><p>۱۳۹۲</p></td>
                                    </tr>
                                    <tr>
                                        <td><h4>قیمت:  </h4></td>
                                        <td><p>12۰,۰۰۰ ریال</p></td>
                                    </tr>
                                </table>

                            </div><!-- end modal-body -->

                            <div class="modal-footer">
                                <a class="btn btn-primary btn-small" href="#" onclick="AddToCart()" data-dismiss="modal"><i class="fa fa-fw fa-shopping-cart"></i>اضافه به سبد </a>
                                <button class="btn btn-default" data-dismiss="modal" type="button">بستن</button>
                            </div><!-- end modal-footer -->
                        </div><!-- end modal-content -->
                    </div><!-- end modal-dialog -->
                </div>

            </div>
        </div>
    </div>


</div>



