
@{
    ViewBag.Title = "INdex";
}

<h2>لغت نامه</h2>

<div class="col-lg-10" style="margin:40px 0px">
    <div class="row col-lg-offset-3 form-inline">
        <input type="text" class="form-control col-lg-4" placeholder=" ترجمه لغت " id="dictionary">
        <button type="submit" class="btn btn-default btn-search fa col-sm-1" style="margin-right:40px" onclick="ShowResult()"> ترجمه </button>
    </div>
    <div id="searchResult" class="row col-lg-5 col-lg-offset-3 " style="font-family:b Nazanin; display:none">
        <div id="w-abb4323a9905d7ddacc1565e118b30c6" class="vy-w"><h1>غزل</h1><h1 class="title_en"></h1><div class="clear"></div><h2>لغت نامه دهخدا</h2><p style="font-size:medium"><span class="hlight">غزل .</span> [ غ َ ] (ع مص ) رشتن .مغزول ، نعت از آن است . (منتهی الارب ) (تاج المصادر بیهقی ) (مصادر زوزنی ) (غیاث اللغات ) (آنندراج ). ریسمان رشتن . (ترجمان علامه ٔ جرجانی ص <span class="hlight" dir="ltr">73</span>). ریسیدن . (غیاث اللغات ). رشتن . غُزول . || نوازش کردن : اخذ فی غزلهم والرفق بهم . (دزی ج <span class="hlight" dir="ltr">2</span> ص <span class="hlight" dir="ltr">211</span>). || (اِ) رشته . (منتهی الارب ) (آنندراج ). ریسمان . رسمان . (لغت محلی شوشتر ذیل رسمان ). ریسمان . (مهذب الاسماء) (غیاث اللغات ). مغزول از نظر تسمیه به مصدر و منسوب آن غزلی است . (اقرب الموارد). ج ، غُزول . (دزی ج <span class="hlight" dir="ltr">2</span> ص <span class="hlight" dir="ltr">211</span>). رسن . (غیاث اللغات ).<br>- <span class="hlight">دارالغزل </span> ؛ جایی که زنان رشته های خود را میفروشند. (دزی ج <span class="hlight" dir="ltr">2</span> ص <span class="hlight" dir="ltr">211</span>).<br>- <span class="hlight">غزل حریر</span> ؛ ابریشم رشته شده .<br>- <span class="hlight">غزل قطن </span> ؛ کتان رشته شده .<br>|| ریسمانی که با آن جانوران وحشی را میگیرند. || پیچک مو (درخت ). || شراب غزل الکرم ؛ از نوشابه هایی که معده را تقویت کنند و اشتها آورند. (دزی ج <span class="hlight" dir="ltr">2</span> ص <span class="hlight" dir="ltr">211</span>).<br></p></div>

        <div id="w-3279c49c4604257870b2d093714c3811" class="vy-w"><h1>غزل</h1><h1 class="title_en"></h1><div class="clear"></div><h2>فرهنگ لغت عمید</h2><p style="font-size:medium"><span class="type">(اسم) [عربی]</span><br> <span class="pron">[qazal]</span> <br>۱. (ادبی) شعری که معمولاً بین هفت تا پانزده بیت سروده می&zwnj;شود و موضوع آن غنایی و عاشقانه است؛ شعر عاشقانه.<br>۲. (اسم مصدر) [قدیمی] سخن گفتن با زنان و عشق&zwnj;بازی کردن.<br>۳. (اسم مصدر) [قدیمی] سخنی که در وصف زنان و در عشق آنان گفته شود؛ حدیث عشق زنان.</p></div>
    </div>
</div>